.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    
}
.header-container > h1 {
    margin-left: 20vw;
    margin-top: 5vh;
}
 
.header-container > button {
    font-family: "Roboto-Thin", cursive, sans-serif;
    margin-right: 20vw;
    margin-top: 5vh;
    background-color: gray;
    opacity: 0.8;
    outline: none;
    border: 0;
    width: 10vw;
    height: 5vh;
    color: inherit;
}